Predicting_Power_Output_in_wind_turbine JSON.json
[{"id":"4ea70573.969a4c","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"4a103bbd.c05294","type":"http request","z":"4ea70573.969a4c","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/01d55f96-68e4-4ba5-b1f6-379623db4aa8/deployments/caea3fd9-f31e-4c12-91dc-1679e1191578/online","tls":"","proxy":"","authType":"","x":475,"y":130,"wires":[["2459371e.56b968"]]},{"id":"84332366.981e8","type":"function","z":"4ea70573.969a4c","name":"prediction","func":"var token=msg.payload.token;\nvar WindSpeed=global.get(\"WindSpeed\");\nvar TheoreticalPowerCurve=global.get(\"TheoreticalPowerCurve\");\nvar WindDirection=global.get(\"WindDirection\");\nmsg.payload={\"fields\":[\"WindSpeed\",\"TheoreticalPowerCurve\",\"WindDirection\"],\"values\":[[WindSpeed,TheoreticalPowerCurve,WindDirection]]};\nmsg.headers={\"Authorization\":\"Bearer \"+token}\nreturn msg;","outputs":1,"noerr":0,"x":314,"y":194,"wires":[["4a103bbd.c05294"]]},{"id":"a7f638d4.029838","type":"debug","z":"4ea70573.969a4c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":875,"y":130,"wires":[]},{"id":"bf363d3a.27384","type":"http request","z":"4ea70573.969a4c","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token","tls":"","proxy":"","authType":"","x":515,"y":390,"wires":[["839da537.ada668","84332366.981e8"]]},{"id":"96b8d71d.5b0498","type":"inject","z":"4ea70573.969a4c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":145,"y":250,"wires":[["3c5c3c2c.692994"]]},{"id":"3c5c3c2c.692994","type":"function","z":"4ea70573.969a4c","name":"token generation","func":"var Base64={_keyStr:\"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=\",encode:function(e){var t=\"\";var n,r,i,s,o,u,a;var f=0;e=Base64._utf8_encode(e);while(f<e.length){n=e.charCodeAt(f++);r=e.charCodeAt(f++);i=e.charCodeAt(f++);s=n>>2;o=(n&3)<<4|r>>4;u=(r&15)<<2|i>>6;a=i&63;if(isNaN(r)){u=a=64}else if(isNaN(i)){a=64}t=t+this._keyStr.charAt(s)+this._keyStr.charAt(o)+this._keyStr.charAt(u)+this._keyStr.charAt(a)}return t},decode:function(e){var t=\"\";var n,r,i;var s,o,u,a;var f=0;e=e.replace(/++[++^A-Za-z0-9+/=]/g,\"\");while(f<e.length){s=this._keyStr.indexOf(e.charAt(f++));o=this._keyStr.indexOf(e.charAt(f++));u=this._keyStr.indexOf(e.charAt(f++));a=this._keyStr.indexOf(e.charAt(f++));n=s<<2|o>>4;r=(o&15)<<4|u>>2;i=(u&3)<<6|a;t=t+String.fromCharCode(n);if(u!=64){t=t+String.fromCharCode(r)}if(a!=64){t=t+String.fromCharCode(i)}}t=Base64._utf8_decode(t);return t},_utf8_encode:function(e){e=e.replace(/\\r\\n/g,\"n\");var t=\"\";for(var n=0;n<e.length;n++){var r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r)}else if(r>127&&r<2048){t+=String.fromCharCode(r>>6|192);t+=String.fromCharCode(r&63|128)}else{t+=String.fromCharCode(r>>12|224);t+=String.fromCharCode(r>>6&63|128);t+=String.fromCharCode(r&63|128)}}return t},_utf8_decode:function(e){var t=\"\";var n=0;var r=c1=c2=0;while(n<e.length){r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r);n++}else if(r>191&&r<224){c2=e.charCodeAt(n+1);t+=String.fromCharCode((r&31)<<6|c2&63);n+=2}else{c2=e.charCodeAt(n+1);c3=e.charCodeAt(n+2);t+=String.fromCharCode((r&15)<<12|(c2&63)<<6|c3&63);n+=3}}return t}};\nvar username=\"8fd5990c-5f27-4355-9881-8a5addfab553\";\nvar password=\"12b5cffd-0e06-43fe-be38-7072edd00633\";\nvar encodedString = Base64.encode(username+':'+password);\nmsg.headers = {\"Authorization\":\"Basic \"+ encodedString};\nglobal.set(\"WindSpeed\",msg.payload.WindSpeed);\nglobal.set(\"TheoreticalPowerCurve\",msg.payload.TheoreticalPowerCurve);\nglobal.set(\"WindDirection\",msg.payload.WindDirection);\nreturn msg;","outputs":1,"noerr":0,"x":385,"y":350,"wires":[["bf363d3a.27384"]]},{"id":"2459371e.56b968","type":"function","z":"4ea70573.969a4c","name":"o/p parsing","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":565,"y":210,"wires":[["a7f638d4.029838","3c24aef7.a92ce2"]]},{"id":"839da537.ada668","type":"debug","z":"4ea70573.969a4c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":775,"y":410,"wires":[]},{"id":"b7e6e420.8c64a8","type":"ui_form","z":"4ea70573.969a4c","name":"","label":"","group":"e9b86b02.726e78","order":0,"width":0,"height":0,"options":[{"label":"WindSpeed","value":"WindSpeed","type":"number","required":true},{"label":"TheoreticalPowerCurve","value":"TheoreticalPowerCurve","type":"number","required":true},{"label":"WindDirection","value":"WindDirection","type":"number","required":true}],"formValue":{"WindSpeed":"","TheoreticalPowerCurve":"","WindDirection":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":195,"y":450,"wires":[["3c5c3c2c.692994","f0b0c189.a6845"]]},{"id":"f0b0c189.a6845","type":"ui_text","z":"4ea70573.969a4c","group":"e9b86b02.726e78","order":0,"width":0,"height":0,"name":"","label":"User Input","format":"{{msg.payload.yoe}}","layout":"row-spread","x":395,"y":470,"wires":[]},{"id":"3c24aef7.a92ce2","type":"ui_text","z":"4ea70573.969a4c","group":"e9b86b02.726e78","order":0,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":795,"y":250,"wires":[]},{"id":"e9b86b02.726e78","type":"ui_group","z":"","name":"Enter the Values","tab":"7d2d2b82.61b8c4","disp":true,"width":"6","collapse":false},{"id":"7d2d2b82.61b8c4","type":"ui_tab","z":"","name":"Wind Power Output Predictor","icon":"dashboard","disabled":false,"hidden":false}]